* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

#NavBar,
footer {
  background-color: #80C7FA;
  background: linear-gradient(90deg, #80C7FA 66.15%, #59CDFF 100%);

  a {

    &,
    &:hover {
      color: black;
    }

    img {
      width: 2.5rem;
    }
  }
}

.img-background {
  background-color: white;
  padding: .4rem;
  border-radius: .4rem;
}
